<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="src.main.resources.mappers.CountryMapper">
    <resultMap id="country" type="com.solvd.it_company.models.Country">
        <id property="id" column="id"/>
        <result property="country" column="country"/>
    </resultMap>
    <select id="getCountryById" parameterType="int" resultMap="country">
        SELECT * FROM Country WHERE id=#{id}
    </select>
    <select id="getAllCountries" resultMap="country">
        SELECT * FROM Country
    </select>
    <insert id="addCountry">
        INSERT INTO Country(id, country) VALUES (#{id}, #{country})
    </insert>
    <update id="updateCountry">
        UPDATE Country SET country=#{country} WHERE id=#{id}
    </update>
    <delete id="deleteCountry">
        DELETE FROM Country WHERE id=#{id}
    </delete>
</mapper>